@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
:root {
  --bg-primary: #e6dace;
  --bg-info: #f4ece6;
  --color-primary: #0050ff;
  --shadow-info: 0px 5px 8px rgba(0, 0, 0, 0.4),
    0 5px 3px rgba(255, 255, 255, 0.5);
  --shadow-box: 2px 2px 5px rgba(0, 0, 0, 0.3),
    0 3px 6px rgba(255, 255, 255, 0.2);
  --uppercase: uppercase;
  --grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
}
body {
  width: 100%;
  min-width: 357px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
section {
  height: auto;
  /* min-height: 700px; */
  width: 100%;
}
ul {
  list-style: none;
  margin: 0;
}
button {
  outline: none;
}
a {
  text-decoration: none;
}
.card {
  max-width: 700px;
  border: none;
}
/* header */

.header {
  text-transform: var(--uppercase);
}
/* .header .logo-name {
  display: inline-block;
  float: left;
  padding-left: 80px;
} */
.square {
  display: inline-block;
  margin-right: 12px;
  width: 15px;
  height: 15px;
  background: var(--color-primary);
}
.name {
  font-size: 20px;
  font-weight: 800;
  margin-right: 10px;
}
.business {
  font-weight: 300;
  margin-left: 10px;
}
.header .menu {
  display: inline-block;
  /* float: right; */
  padding-right: 80px;
}
/* icon bars */
.bar {
  height: 3px;
  background-color: var(--color-primary);
  transition: 0.4s;
}
.bar1 {
  width: 17px;
}
.bar2 {
  width: 38px;
  margin: 6px 0;
}
.bar3 {
  width: 17px;
  float: right;
}

/* custom css for navbar  */
.navbar-light .navbar-toggler,
.navbar-toggler {
  color: var(--bg-info);
  border: none;
}
.navbar-light .navbar-toggler:hover,
.navbar-toggler:focus {
  border: none;
}

.menu ul > li {
  display: inline;
  margin-right: 20px;
}
.menu a {
  color: #000;
}
.menu a:hover {
  color: var(--color-primary);
}

/* content */
.content {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
.left-side {
  background: var(--bg-primary);
  padding: 40px;
  justify-content: flex-end;
  height: 600px;
}
.left-side .general-info {
  position: relative;
  text-align: center;
  background: var(--bg-info);
  width: 350px;
  min-height: 400px;
  right: -52%;
  top: 5%;
  box-shadow: var(--shadow-info);
}
.left-side .general-info img {
  border-radius: 50%;
  width: 205px;
  height: 205px;
  margin: 40px 0 20px;
}
.general-info .general-info-name {
  font-size: 30px;
  font-weight: 700;
  margin-top: 10px;
  text-transform: capitalize;
}
.line-bottom {
  display: block;
  margin: 20px auto;
  border-bottom: 5px solid var(--color-primary);
  width: 20%;
}
.general-info .general-info-business {
  font-size: 22px;
  font-weight: 500;
  opacity: 0.8;
  margin-bottom: 20px;
}
.general-info .general-info-footer {
  background: #fff;
  padding: 10px 30px;
}
.general-info-footer ul > li {
  display: inline;
  margin-right: 34px;
}
.general-info-footer a {
  color: #000;
  font-size: 22px;
  transition: all 200ms ease-in-out;
}
.general-info-footer a:hover {
  color: var(--bg-primary);
}
.general-info-footer a:visited {
  color: #000;
}
.right-side {
  background: #fff;
  padding: 45px;
  padding-left: 70px;
}
.right-side .details-info {
  width: 100%;
}
.details-info .details-info-title {
  font-size: 66px;
  font-weight: 900;
}
.details-info .details-info-subtitle {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2px;
  opacity: 0.9;
  line-height: 24px;
  margin: 20px auto;
}
.details-info .details-info-buttons {
  margin: 40px auto;
}
.details-info-buttons a {
  padding: 14px 30px;
  margin: 20px 10px;
  border-radius: 24px;
  border: none;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
}
.details-info-buttons .btn-first {
  background: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: #fff;
}
.btn-first:hover {
  border: 2px solid #000;
  background: #fff;
  color: #000;
}
.details-info-buttons .btn-second {
  background: #fff;
  color: #000;
  border: 2px solid #000;
}
.btn-second:hover {
  background: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: #fff;
}
.details-info-description {
  width: 50%;
}
.details-info-description p {
  font-size: 18px;
  line-height: 28px;
}

/* contact page */
.contact-page {
  background-color: var(--bg-info);
  padding: 0;
  width: 100%;
  /* min-height: 700px; */
}
/* .contact-form {
  display: block;
  margin: 50px auto;
  padding: 20px;
  width: 600px;
  background: #fff;
  box-shadow: var(--shadow-box);
}
.contact-page .contact-page-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px 100px;
}
.contact-page .contact-page-description {
  width: 50%;
}
.contact-page .contact-page-description p {
  padding: 10px;
  margin-right: 20px;
  font-size: 18px;
  line-height: 22px;
  box-shadow: var(--shadow-info);
  border-radius: 10px;
  background: #fff;
  padding: 10px 25px;
}
.contact-page-email {
  margin: 20px auto;
}
.contact-page-email h2 {
  display: inline-block;
  margin-left: 100px;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  color: var(--color-primary);
}
.contact-page-email a {
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.contact-page-email a:hover {
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
.contact-page-email a:visited {
  color: #000;
} */

/* Pages */
.content-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 100px 50px;
  background: var(--bg-primary);
}
.content-title {
  display: inline-block;
}
.content-title .square {
  width: 20px;
  height: 20px;
}
.content-title span {
  font-size: 28px;
  font-weight: 800;
  text-transform: capitalize;
}
.content-title-name {
  margin-left: 140px;
  justify-content: center;
  font-size: 28px;
  font-weight: 800;
  text-transform: capitalize;
}
.content-title-name-second {
  margin-left: 10px;
  font-size: 28px;
  font-weight: 800;
  text-transform: capitalize;
  text-align: end;
}
.content-title-name-thrid {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 800;
  text-transform: capitalize;
  text-align: start;
}
.btn-resume {
  margin-top: 13px;
  margin-right: 125px;
}
.btn-resume a {
  font-size: 18px;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: #fff;
  padding: 5px 30px;
  margin: 20px 10px;
  border-radius: 24px;
}
.btn-resume a:hover {
  color: #000;
  border: 1px solid #000;
  background-color: #fff;
}
.card-body {
  text-align: left;
}
.resume-card {
  display: flex;
  background-color: #fff;
  padding: 30px;
  box-shadow: var(--shadow-box);
  margin: 10px auto;
}
.resume-date {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-primary);
  margin-bottom: 10px;
}
.card-title {
  font-weight: 400;
  margin-bottom: 1px;
  text-transform: uppercase;
}
.resume-company {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.resume-list-group {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
}
.resume-list-group .square {
  width: 12px;
  height: 12px;
}
.list-group-item-action:active,
.list-group-item-action:hover {
  background-color: var(--bg-info);
}
.project-card {
  display: flex;
  background-color: #fff;
  box-shadow: var(--shadow-box);
  margin: 10px auto 40px;
}
.project-card .project-description-side {
  padding: 40px 20px;
}
.project-card .card-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-primary);
  margin-bottom: 10px;
}
.project-card .card-subtitle {
  font-size: 14px;
  margin-bottom: 40px;
}
.project-description p {
  width: 50%;
  padding: 10px;
}
.contact-card {
  display: flex;
  background-color: #fff;
  box-shadow: var(--shadow-box);
  margin: 20px auto;
  padding: 40px;
}
.contact-form {
  max-width: 700px;
}
/* footer */

.footer {
  display: flex;
  justify-content: space-around;
  padding: 20px 30px 10px;
  margin: 10px 0 20px;
}
.footer .footer-left {
  margin: 20px;
}
.footer-left span {
  display: block;
}
.footer .footer-right {
  padding-bottom: 10px;
  /* width: 50%; */
}
.footer-right .footer-info-contact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5px 0;
  text-align: center;
  width: 100%;
}
.footer-info-contact > * {
  flex: 1 1 auto;
  margin-right: 20px;
  margin-bottom: 20px;
}
.footer-info-contact h3 {
  font-size: 20px;
  font-weight: 700;
}
.footer-info-contact span {
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px;
}
.footer-social ul {
  padding-left: 0;
}
.footer-social ul li {
  display: inline-block;
}
.footer-social ul > li {
  margin: 5px 10px 0 5px;
}
.footer-social a {
  color: #000;
  font-size: 18px;
}

/* Responsive */
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .left-side .general-info {
    right: -22%;
  }
  .content-title-name {
    text-align: left;
    margin-left: 85px;
  }
  .content-title-name-second {
    text-align: start;
    margin-left: 80px;
  }
  .btn-resume {
    margin-right: 75px;
    text-align: end;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .square {
    margin-right: 4px;
    width: 16px;
    height: 16px;
  }
  .name {
    font-size: 18px;
    font-weight: 700;
  }
  .business {
    display: block;
    font-size: 14px;
    margin-left: 0;
  }
  .left-side .general-info {
    right: -12%;
  }
  .details-info-description {
    width: 90%;
  }
  .right-side {
    padding: 45px 25px;
    padding-left: 50px;
  }
  .content-title-name-second {
    text-align: start;
    margin-left: 0;
  }
  .content-title-name {
    text-align: start;
    margin-left: 3px;
}
  .btn-resume {
    margin-right: 0;
    text-align: end;
  }
  .footer-right .footer-info-contact {
    text-align: left;
  }
}

/* Small devices (landscape phones, less than 768px */
@media (max-width: 767px) {
  .square {
    margin-right: 4px;
    width: 16px;
    height: 16px;
  }
  .name {
    font-size: 18px;
    font-weight: 700;
  }
  .business {
    display: block;
    font-size: 14px;
    margin-left: 0;
  }
  .left-side .general-info {
    right: -11%;
  }
  .details-info-description {
    width: 90%;
  }
  .right-side {
    padding: 45px 25px;
    padding-left: 50px;
  }
  .content-title-name-second {
    text-align: start;
  }
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
  .square {
    margin-right: 2px;
    width: 14px;
    height: 14px;
  }
  .name {
    font-size: 18px;
    font-weight: 700;
  }
  .business {
    display: block;
    font-size: 14px;
    margin-left: 0;
  }
  .left-side {
    display: flex;
    justify-content: center;
    background-color: #fff;
    height: 300px;
  }
  .left-side .general-info {
    position: relative;
    width: 100%;
    right: 0;
    min-height: 500px;
  }
  .right-side {
    background-color: var(--bg-primary);
    padding-top: 220px;
    padding-right: 45px;
  }
  .right-side .details-info {
    position: relative;
    top: 35px;
  }
  .details-info-buttons {
    margin: 30px auto;
  }
  .details-info-description {
    width: 100%;
  }
  .footer {
    flex-direction: column-reverse;
    margin: 20px 0;
    padding: 0;
  }
  .footer .footer-info-contact {
    padding: 0;
  }
  .footer-info-contact {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-right .footer-info-contact {
    text-align: left;
    margin-left: 20px;
  }
  .footer-info-contact > * {
    flex: 1 1 200px;
    margin-bottom: 20px;
  }
  .resume-list-group {
    font-size: 13px;
  }
  .resume-list-group .square {
    width: 10px;
    height: 10px;
  }
  .project-description p {
    width: 100%;
    text-align: justify;
  }
  .content-title-name-second {
    text-align: start;
  }
}

/* X-Small devices (portrait phones, less than 379px) */

@media (max-width: 379px) {
  .details-info-buttons a {
    margin: 20px 2px;
  }
  .general-info-footer ul > li {
    margin-right: 25px;
  }
  .right-side {
    padding-left: 40px;
  }
  .resume-list-group {
    width: 100% !important;
  }
  .resume-card {
    padding: 10px 4px;
  }
  .content-title-name-second {
    text-align: start;
  }
}
